{%include "header.html"%}
    <title>New Post</title>
    {{ckeditor.load(pkg_type="full-all")}}
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <form action="{{url_for('new_post',key=k)}}" method="POST">
                    <div>
                        <h5>Title:</h5>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <br>
                    <div>
                        <h5>Sub-Title:</h5>
                        <input type="text" class="form-control" name="subtitle">
                    </div>
                    <br>
                    <div>
                        <h5>Image:</h5>
                        <input type="text" class="form-control" name="image_url">
                    </div>
                    <br>
                    <div>
                        <h5>Date:</h5>
                        <input type="text" class="form-control" name="date">
                    </div>
                    <br>
                    <div>
                        <h5>Body:</h5>
                        {{ckeditor.create()}}
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-primary"type="submit">Add Post</button>
                    </div>
                </form>
            </div>                                                                    
        </div>
    </div>
    {%include "footer.html"%}
</body>
</html>
