        {% include "header.html" %}
        <title>Home - Space Time</title>
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="{{url_for('home')}}">SPACE TIME</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}">About Author</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
                        <li class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead" style="background-image:url({{image_url}});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto position-relative">
                        <div class="site-heading"><span class="subheading">Quote Of The Day</span><p>"{{quote}}"</p></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 list" style="min-width: 100%;">
                    {%for post in posts%}
                    <div class=" list-element">
                        <div class="post-preview">
                            <a href="{{url_for('render_post' ,id=post.id)}}">
                                <h2 class="post-title">{{post.title}}</h2>
                                <h3 class="post-subtitle">{{post.subtitle}}</h3>
                            </a>
                            <p class="post-meta">Posted by&nbsp;<a href="#">Ben Meehan on {{post.date}}</a></p>
                        </div>
                        <hr>
                    </div>
                    {%endfor%}
                    <div class="clearfix"><button class="btn btn-primary float-end" id="loadmore" type="button">View More&nbsp;⇒</button></div>
                </div>
            </div>
        </div>
        {%include "footer.html"%}
        <script src="{{url_for('static',filename='assets/js/load.js')}}"></script>
    </body>
</html>